body {

}

body:after {
	background-image: url("../images/Japanese_Snow_Temple.jpg");
	opacity: 0.2;
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.userblock {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

.media-heading {
    margin: .8rem 0;
}

.name {
    margin-right: 2rem;
    font-weight: bold;
}

.request {
    margin-right: 1rem;
}

.status-info {
    margin-bottom: 2rem;
}